@media screen and (max-width:1199px)
{
    li.nav-item .nav-link {
        font-size: 15px;
    }
    a.navbar-brand img {
        max-width: 260px;
    }
 }

 @media screen and (max-width:991px){
    a.navbar-brand img {
        max-width: 200px;
    }
    .logo_footer img {
        width: 200px;
    }
    .padding {
        padding: 50px 0;
    }
    .logo_footer{
        display: none;
    }
    .home_page_blog_post .overlay {
        top: 30px;
    }
    div#navbarSupportedContent {
        position: absolute;
        background: #4a5383;
        width: 100%;
        top: 75px;
        left: 0;
    }
    div#navbarSupportedContent ul{
        padding: 20px;

    }
 }
 @media(max-width:1100px){
    li.nav-item .nav-link {
        font-size: 13px;
    }
 }
@media(max-width:575px){
    .wrapper {
        max-width: 90%;
    }
}
 